/* src/components/UserList.css */
.user-list-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .user-list-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-list-link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .user-card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .user-card-body {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-card-buttons {
    margin-left: auto;
    margin-left: auto;
    display: flex;
    gap: 10px; 
  
  }
  